---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: serviceaccount
    app.kubernetes.io/instance: {{ .Values.kubearchive.namespace }}-operator-sa
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: {{ .Values.kubearchive.namespace }}-operator
    app.kubernetes.io/part-of: {{ .Values.kubearchive.namespace }}-operator
  name: {{ .Values.kubearchive.namespace }}-operator
