# Copyright KubeArchive Authors
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: batch/v1
kind: Job
metadata:
  name: kubearchive-schema-migration
  namespace: kubearchive
  labels:
    app.kubernetes.io/name: kubearchive-schema-migration
    app.kubernetes.io/component: kubearchive
    app.kubernetes.io/part-of: kubearchive
    app.kubernetes.io/version: "${NEXT_VERSION}"
spec:
  suspend: true
  parallelism: 1
  backoffLimit: 4
  template:
    spec:
      containers:
        - name: migration
          image: ko://github.com/kubearchive/kubearchive/integrations/database/postgresql
          resources:
            limits:
              cpu: 10m
              memory: 64Mi
            requests:
              cpu: 10m
              memory: 64Mi
          envFrom:
            - secretRef:
                name: kubearchive-database-credentials
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
      restartPolicy: Never
