# yamllint disable-file
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.kubearchive.namespace }}
{{- range .Values.kubearchive.watchNamespaces }}
{{- if .create }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .name }}
  labels:
    kubearchive: watch
{{- end }}
{{- end }}
