# Copyright KubeArchive Authors
# SPDX-License-Identifier: Apache-2.0
---
receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  transform:
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["pod"], resource.attributes["k8s.pod.name"])

exporters:
  prometheus:
    endpoint: '0.0.0.0:9090'
    send_timestamps: true
    add_metric_suffixes: false
  debug:

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch, transform]
      exporters: [prometheus]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
