---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubearchive.kubearchive.org
  resources:
  - kubearchiveconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubearchive.kubearchive.org
  resources:
  - kubearchiveconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - kubearchive.kubearchive.org
  resources:
  - kubearchiveconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - bind
  - create
  - delete
  - escalate
  - get
  - list
  - update
  - watch
- apiGroups:
  - sources.knative.dev
  resources:
  - apiserversources
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
