---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ tpl .Values.database.secret . }}
data:
  POSTGRES_PORT: '{{ "5432" | b64enc }}'
  POSTGRES_URL: {{ .Values.database.url | b64enc | quote }}
  POSTGRES_DB: {{ .Values.database.postgresData.dbName | b64enc | quote }}
  POSTGRES_USER: {{ .Values.database.postgresData.dbUser | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.database.postgresData.dbPassword | b64enc | quote }}
