# Copyright KubeArchive Authors
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "kubearchive-sink-watch"
  namespace: kubearchive
  labels:
    app.kubernetes.io/name: "kubearchive-sink-watch"
    app.kubernetes.io/component: sink
    app.kubernetes.io/part-of: kubearchive
    app.kubernetes.io/version: "${NEXT_VERSION}"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - kubearchive.kubearchive.org
    resources:
      - sinkfilters
    verbs:
      - get
      - list
      - watch
