# Copyright KubeArchive Authors
# SPDX-License-Identifier: Apache-2.0
---
name: Performance Recap
run-name: Performance Recap
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"  # Each sunday at 0 UTC
permissions:
  contents: read
  pull-requests: read
jobs:
  integration:
    name: KubeArchive Performance Recap
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Cache Performance results
        uses: actions/cache@v5
        with:
          key: performance-results
          path: |
            ./merge
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23.9'
      - name: Display Go version
        run: go version
      - name: Run
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bash test/performance/merge.sh
      - name: Generate graphs
        run: |
          sudo apt install gnuplot -yy
          gnuplot -e "name='Memory during GET'; filename='merge/get-memory.csv'; outfile='get-memory.png'" test/performance/memory.gnuplot
          gnuplot -e "name='Memory during POST'; filename='merge/create-memory.csv'; outfile='create-memory.png'" test/performance/memory.gnuplot
          gnuplot -e "name='CPU during GET'; filename='merge/get-cpu.csv'; outfile='get-cpu.png'" test/performance/cpu.gnuplot
          gnuplot -e "name='CPU during POST'; filename='merge/create-cpu.csv'; outfile='create-cpu.png'" test/performance/cpu.gnuplot
          gnuplot -e "name='Requests during GET'; filename='merge/get-req.csv'; outfile='get-req.png'" test/performance/req.gnuplot
          gnuplot -e "name='Requests during POST'; filename='merge/create-req.csv'; outfile='create-req.png'" test/performance/req.gnuplot
      - name: Upload graphs
        uses: actions/upload-artifact@v4
        with:
          path: "*.png"
      - name: Send notification using Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_KUBEARCHIVE_CI_WEBHOOK }}
          webhook-type: incoming-webhook
          payload: |
            text: "*Performance Recap Ready*: https://github.com/kubearchive/kubearchive/actions/runs/${{ github.run_id }}"
